<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>Workout Record Searching Form</title>
</head>
<body>
<h1> 用戶運動紀錄搜尋 </h1>

    <form method='post' action= "{{ url_for('record') }}">
    <input type="hidden" name="user_ID" value="{{ ID }}">

        <tr>

                <div>
                    <label>用戶號碼:</label>
                    <input type = 'textbox'  name = 'userno' required>
                    <label> (1004 < 用戶號碼範圍 < 2002)</label>
                </div>
                    <br>

        </tr>

        <p><button type = 'submit'>確認送出</button></p>
    </form>

            <div>
                <h5>{{ data }}</h5>
            </div>

</body>
</html>